<style>
    .asteriskField{
        color:red;

    }
</style>


{% extends 'layout.html' %}


{% block main_content %}
<link rel="stylesheet" href="/static/css/reg_form.css">
 <div class="d-flex justify-content-center">
     <div class="col-md-6">
         <h2 class="text-center text-success">Login Form</h2>
         {% for msg in messages %}
         {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
         <div class="alert alert-success">
             {{ msg }}
         </div>
         
         {% endif %}
         {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
         <div class="alert alert-danger">
             {{ msg }}
         </div>
         
         {% endif %}

         {% endfor %}
            
            <div class="bodyinthis">
                <div class="containerr">
                    <div class="title">Login</div>
                    <div class="content">
                      <form action="#" method="POST">
                        {% csrf_token %} 
                        <div class="user-details">
                         
                          <div class="input-box">
                            <span class="details">Username</span>
                            <input type="text" name="username" placeholder="Enter your username" required>
                          </div>
                         
                          <div class="input-box">
                            <span class="details">Password</span>
                            <input type="password" name="pass1" placeholder="Enter your password" required>
                          </div>
                          
                        </div>
                        
                        <div class="button">
                          <input type="submit" value="Login">
                        </div>
                      </form>
                    </div>
                  </div>
                
    
                </div>
     </div> 

 </div>

 <script>
     var forms_fields = document.getElementsByTagName('input')
     forms_fields[1].placeholder ='Enter Username'
     forms_fields[2].placeholder ='Enter Password'
 </script>

{% endblock %}